@media screen and (max-device-width: 1200px) { 
  .desc-serv{
    padding: 40px;
  }
}

@media screen and (min-device-width: 991px) and (max-device-width: 1200px) { 
  #bannerSlider .item img {
    min-height: 373px;
  }
}

@media screen and (max-device-width: 1199px) { 
  .banner-inside .col-lg-4{
    padding-right: 15px;
  }
  .banner-inside .col-lg-8{
    padding-left: 15px;
  }
}

@media screen and (max-device-width: 991px) { 
  body{
    overflow-x: hidden; 
  }
  .banner .col-md-8{
    padding-right: 15px;
  }
  .banner .col-md-4{
    padding-left: 15px;
  }
  .banner{
    background: #fff;
  }
  .item-services .left{
    padding-right: 15px;
  }
  .item-services .right{
    padding-left: 15px;
  }
   .desc{
    padding: 25px !important;
  }
}

@media screen and (max-device-width: 768px) { 
    .services .left-side{
      border-right: 1px solid #dedede;
    }
    .services .col-sm-4{
      padding-left: 15px;
    }
    .mb1{
      margin-bottom: 20px;
    }
    .content-two-column .left-side{
      border-right: 1px solid #dedede;
    }
    .content-two-column .col-sm-4{
      padding-left: 15px;
    }

    .navbar-white .navbar-nav > li > a{
      padding-top: 12px;
      padding-bottom: 12px;
      border-bottom: 1px solid #dedede;
    }

    .navbar-nav{
      margin: 0px -15px !important;
    }
}

@media screen and (max-device-width: 767px) { 
    .logo-footer{
      margin-bottom: 30px;
    }
}

@media screen and (max-device-width: 540px) { 
    .label{
      float: none;
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}